.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-secondary);
  grid-area: info;
}
.lenguages-info {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  .lengue-icon {
    display: flex;
    gap: 20px;
  }
}
.education-info {
  display: flex;
  align-items: center;
  gap: 10px;

  .icon-education {
    font-size: 26px;
  }
  .text-education {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
