header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-area: header;
 
  img{
    border-radius: 24px;
    margin: auto;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: var(--text-primary);
  }
  h2 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
  }
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0%;
    
    
    h1{
      text-align: center;
      font-size: 36px;
      line-height: 54px;
    }
    h2{
      font-size: 30px;
      line-height: 45px;
      font-style: normal;
    }
    img{
      border-radius: 100%;
      border: 2px solid #fff;
      
    }
  }
}
