:root {
  --text-primary: white;
  --text-secondary: #B3B3B3;
  --backgroud-primary: #2c2c2c;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--backgroud-primary);
  max-width: 100vw;
  overflow-x: hidden;
}
.container{
  width: 1440px;
  margin: auto;
  padding: 40px 32px;
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "header"
  "btns"
  "experience"
  "info";
  @media (min-width:768px) {
      padding: 70px 60px;
      height: 100vh;
      grid-template-rows: fit-content(100%) ;
      grid-template-columns: 70% 30%;
      align-items: center;
      justify-items: start;
      justify-content: space-between;
      grid-template-areas:
      "header info"
      "experience empty-1"
      "empty-2 btns";    
    }
  }

